$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

@import "bootstrap_custom";

button:focus {
  outline: none !important;
}

.toolbar {
  border-radius: 0;
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  position: relative;

  select, button {
    margin-left: 10px;
  }

  .connection {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .nav {
    padding-left: 20px;
    padding-top: 12px;

    border-top: 2px solid $brand-primary;

    &.connected {
      border-top-color: $brand-success;
    }
  }
}

.line-chart {
  .legend-entry { cursor: pointer }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tab-container {
  padding: 20px;
}

.pids-tab {
  .pid-inputs {
    float: left;

    .row-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .form-group {
      margin-right: 20px;
    }

    label {
      text-align: right;
      padding-left: 20px;
      padding-right: 10px;
    }

    .form-control {
      width: 100px;
    }

    .pid-row {
      margin-bottom: 15px;
    }

    .pid-group {
      margin-bottom: 25px;
    }

    .pid-group-buttons {
      text-align: center;

      .btn:first-child {
        margin-right: 10px;
      }
    }

    .row-label {
      width: 50px;
      display: inline-block;
      font-weight: bold;
    }
  }
}

.console {
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding: 10px 15px;

  border-radius: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  .console-entry {
    margin-bottom: 2px;
  }

  .console-time {
    font-weight: bold;
    margin-right: 10px;
  }
}

.rc-tab {
  .progress {
    width: 250px;
    float: left;
    margin-right: 10px;
    position: relative;
  }

  .progress-bar {
    transition: none;
    position: relative;
  }

  .progress-bar-divider {
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #CCC;
  }

  .channel-col {
    width: 150px;
  }
  .function-col {
    width: 150px;
  }
  .raw-value-col {
    width: 440px;
  }
  .value-col {
    width: 440px;
  }
  .endpoints-col {
  }
}

.motor-chart-2d {
  width: 250px;
  height: 250px;
  position: relative;

  .arm1, .arm2 {
    border-radius: 7px;
    width: 14px;
    height: 230px;
    background-color: #333;
    position: absolute;
  }

  .arm1 {
    transform: rotate(45deg);
    top: 8px;
    left: 120px;
  }

  .arm2 {
    transform: rotate(-45deg);
    top: 8px;
    right: 120px;
  }

  .fl {
    position: absolute;
    top: 0;
    left: 0;
  }

  .fr {
    position: absolute;
    top: 0;
    right: 0;
  }

  .bl {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .br {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  svg {
    z-index: 10;
    width: 100px; height: 100px;
    transform: rotate(-90deg);
    border-radius: 50%;
  }

  circle {
    fill: #D62728;
    fill-opacity: 0.25;
    stroke: #D62728;
    stroke-width: 32;
    stroke-dasharray: 25 100;
    stroke-opacity: 0.75;
  }
}

.tuning-tab {
  .motor-chart-2d {
    margin-left: 75px;
  }

  .top-segment {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .fc-data {
    flex: 1;
  }

  .flight-stat {
    float: left;
    text-align: center;
    width: 25%;

    & > .callout-text {
      font-size: 34px;
      font-weight: bold;
      &.uppercase { text-transform: uppercase; }
    }

    &.armed > .callout-text { color: red; }
    &.unarmed > .callout-text { color: green; }
  }

  $size: 150px;

  .teapot {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    height: $size;
    width: $size;
    transform-style: preserve-3d;

    .side {
      height: inherit;
      width: inherit;
      position: absolute;
    }

    .front {
      background-color: gray;
      transform: translate3d(0, 0, $size/2);
    }

    .back {
      background-color: gray;
      transform: rotateY(180deg) translate3d(0, 0, $size/2);
    }

    .left {
      background-color: blue;
      transform: rotateY(-90deg) translate3d(0, 0, $size/2);
    }

    .right {
      background-color: blue;
      transform: rotateY(90deg) translate3d(0, 0, $size/2);
    }

    .top {
      background-color: darken(red, 10%);
      transform: rotateX(90deg) translate3d(0, 0, $size/2);
    }

    .bottom {
      background-color: darken(red, 10%);
      transform: rotateX(-90deg) translate3d(0, 0, $size/2);
    }
  }
}
