{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
